/**------------------------------------------------------------------
 * [Table of contents | Main style]
 *
 */
@font-face {
  font-family: 'ALSRubl';
  src: url("../fonts/ALSRubl.eot");
  src: url("../fonts/ALSRubl.woff") format("woff"), url("../fonts/ALSRubl.ttf") format("truetype"), url("../fonts/ALSRubl.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

.card-content__heading {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #666666; }

.clearfix::before, .clearfix::after {
  display: table;
  content: '';
  clear: both; }

.standard_wrapper.standard_wrapper--white {
  background-color: #fff; }

.bg-image {
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.card-content__subtitle {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.5px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  margin-top: 25px; }

h1.card-content__title {
  font-size: 44px;
  line-height: 48px;
  text-transform: none;
  font-weight: normal;
  margin-top: 35px;
  margin-bottom: 10px;
  text-align: center;
  color: #000; }

.content__divider {
  position: relative;
  display: block;
  height: 20px;
  background-image: url("../images/list-item.png");
  background-position: center center;
  background-repeat: no-repeat;
  margin: 10px 0; }
  .content__divider::before {
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 1px;
    background-color: #e1e1e1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-100%, -50%, 0);
            transform: translate3d(-100%, -50%, 0);
    margin-left: -17px; }
  .content__divider::after {
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 1px;
    background-color: #e1e1e1;
    top: 50%;
    right: 50%;
    -webkit-transform: translate3d(100%, -50%, 0);
            transform: translate3d(100%, -50%, 0);
    margin-right: -17px; }

.card-content__rte {
  margin-top: 25px; }
  .card-content__rte ul {
    list-style: none;
    margin-bottom: 20px; }
    .card-content__rte ul li {
      padding-left: 30px;
      position: relative;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 14px;
      color: #666666; }
      .card-content__rte ul li::before {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 16px;
        width: 16px;
        background-image: url("../images/list-item.png");
        background-position: center center;
        background-repeat: no-repeat; }
  .card-content__rte p {
    font-size: 14px;
    line-height: 24px;
    margin: 10px 0;
    padding: 0;
    color: #666666; }
  .card-content__rte em {
    font-size: 14px;
    line-height: 24px;
    color: #993300;
    margin: 14px 0; }

.card-content__banner {
  margin-bottom: 20px; }
  .card-content__banner img {
    max-width: 100%;
    width: 100%; }

.card-content__banner-wrap {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.card-content__banner-label {
  position: absolute;
  top: 25px;
  left: 0;
  padding-left: 12px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #22a340;
  color: #fff; }
  .card-content__banner-label strong {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    line-height: 25px; }
  .card-content__banner-label span {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 25px; }
  .card-content__banner-label::before {
    display: block;
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    border: 30px solid transparent;
    border-right: 0 solid transparent;
    border-left: 15px solid #22a340;
    border-top: 0 solid transparent; }
  .card-content__banner-label::after {
    display: block;
    content: '';
    position: absolute;
    left: 100%;
    bottom: 0;
    border: 30px solid transparent;
    border-bottom: 0 solid transparent;
    border-right: 0 solid transparent;
    border-left: 15px solid #22a340; }

.rouble {
  font-family: 'ALSRubl'; }

.card-content__price {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 20px;
  background-color: #f9f9f9; }

.card-content__price-item {
  position: relative;
  padding: 15px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .card-content__price-item span {
    font-size: 18px;
    line-height: 1;
    color: #000; }

.card-content__price-icon {
  text-align: center; }
  .card-content__price-icon img {
    max-width: 100%; }

.card-content__price-item.card-content__price-time {
  margin-right: auto; }

.card-content__price-item.card-content__price--double::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 15px;
  bottom: 15px;
  width: 1px;
  background-color: #dddddd; }

@media screen and (min-width: 768px) {
  .card-content__rte {
    margin-top: 35px; }
  .card-content__price {
    margin-bottom: 30px; }
  .card-content__price-item {
    padding: 15px 20px; }
    .card-content__price-item span {
      font-size: 30px; }
  .card-content__banner-label strong {
    width: 70px;
    font-size: 24px;
    line-height: 25px; }
  .card-content__banner-label span {
    font-size: 16px;
    line-height: 25px; } }

@media screen and (min-width: 992px) {
  .card-content__banner {
    width: 50%;
    float: left;
    margin-bottom: 10px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .card-content__rte--aside {
    width: 50%;
    padding-left: 15px;
    float: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .card-content__price-item {
    padding: 15px 20px; }
    .card-content__price-item span {
      font-size: 30px; } }

.diplom-content__wrap {
  margin-top: 40px; }

.diplom-content__list {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 20px -10px 0 -10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.diplom-content__list-item {
  width: 50%;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  margin-bottom: 20px; }
  .diplom-content__list-item img {
    max-width: 100%; }

@media screen and (min-width: 768px) {
  .diplom-content__list-item {
    width: 25%; } }

@media screen and (min-width: 992px) {
  .diplom-content__list {
    margin: 30px -20px 0 -20px; }
  .diplom-content__list-item {
    padding: 0 20px;
    margin-bottom: 40px; } }

h3.card-promo__title {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #666666; }

.card-promo {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 60px 0 30px 0;
  background-color: #f9f9f9; }

.card-promo__desc {
  padding: 15px 30px;
  text-align: center;
  background-color: #f9f9f9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .card-promo__desc p {
    font-size: 18px;
    line-height: 24px;
    padding: 0;
    margin-bottom: 25px;
    color: #666666; }
    .card-promo__desc p span.accent {
      font-size: 24px;
      line-height: 24px;
      font-weight: bold;
      color: #993300; }
    .card-promo__desc p strong.accent {
      color: #993300; }
  .card-promo__desc .btn {
    font-size: 18px;
    line-height: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #000;
    background-color: transparent;
    border: 1px solid #EFA697;
    font-weight: normal; }
    .card-promo__desc .btn:hover {
      color: #fff;
      background-color: #EFA697;
      border: 1px solid #EFA697; }

.card-promo__image {
  width: 100%;
  position: relative;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px; }

.card-promo__image-label {
  position: absolute;
  top: auto;
  bottom: 15px;
  left: 0;
  padding-left: 12px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #22a340;
  color: #fff; }
  .card-promo__image-label strong {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    line-height: 25px; }
  .card-promo__image-label span {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 25px;
    padding-right: 5px; }
  .card-promo__image-label::before {
    display: block;
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    border: 30px solid transparent;
    border-right: 0 solid transparent;
    border-left: 15px solid #22a340;
    border-top: 0 solid transparent; }
  .card-promo__image-label::after {
    display: block;
    content: '';
    position: absolute;
    left: 100%;
    bottom: 0;
    border: 30px solid transparent;
    border-bottom: 0 solid transparent;
    border-right: 0 solid transparent;
    border-left: 15px solid #22a340; }

.card-promo__image-title {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 110px;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  color: #000; }
  .card-promo__image-title span {
    margin-bottom: 5px; }

@media screen and (min-width: 768px) {
  .card-promo__desc {
    width: calc(100% - 320px); }
  .card-promo__image {
    height: auto;
    width: 320px; }
  .card-promo__image-label strong {
    width: 70px;
    font-size: 24px;
    line-height: 25px; }
  .card-promo__image-label span {
    font-size: 16px;
    line-height: 25px; } }

.rater,
.rater--disabled {
  font-size: 18px;
  color: #ecde01; }

.rater {
  cursor: pointer; }

.rater--disabled {
  margin: 0 auto; }

.card-reviews__wrap {
  padding-top: 30px; }

.card-reviews__user-wrap {
  padding-top: 20px; }

.card-reviews__user {
  border: 1px solid #eeeeee;
  margin-bottom: 20px; }
  .card-reviews__user * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.card-reviews__user-img {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center; }

.card-reviews__user-body {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 15px 10px; }

.card-reviews__user-text {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .card-reviews__user-text p {
    font-size: 14px;
    line-height: 24px;
    color: #555555;
    padding: 0;
    margin-bottom: 14px; }

.card-reviews__user-heading {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  background-color: #f9f9f9; }
  .card-reviews__user-heading h3 {
    font-size: 18px;
    line-height: 24px;
    max-width: 60%;
    font-weight: bold; }
  .card-reviews__user-heading time {
    max-width: 40%;
    font-size: 14px;
    line-height: 24px;
    color: #555555; }

@media screen and (min-width: 480px) {
  .card-reviews__user-img {
    height: 100px;
    width: 100px;
    margin-bottom: 0; }
  .card-reviews__user-body {
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
  .card-reviews__user-text {
    width: calc(100% - 100px);
    padding-left: 5px; }
  .rater,
  .rater--disabled {
    font-size: 18px; } }

@media screen and (min-width: 992px) {
  .card-reviews {
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .card-reviews__user-wrap {
    padding-top: 0;
    width: calc(100% - 475px); }
  .card-reviews__form {
    width: 455px;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #f9f9f9;
    margin-left: 20px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .card-reviews__user-img {
    height: 150px;
    width: 150px; }
  .card-reviews__user-text {
    width: calc(100% - 150px); } }

.form__title {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 20px;
  color: #666666;
  text-align: center; }

.form__group {
  margin-bottom: 25px; }

.form__group.form__group--center {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.form__control {
  width: 100%; }

.form__group.form__group--rater label {
  padding-left: 10px;
  width: auto;
  float: left;
  font-size: 14px;
  line-height: 35px;
  font-style: italic;
  color: #666666; }

.form__group.form__group--rater .rater {
  float: right; }

textarea.form__control {
  resize: vertical; }

.form__btn {
  width: 100%;
  max-width: 280px;
  margin: 0 auto; }

@media screen and (min-width: 480px) {
  .form__group.form__group--rater label {
    font-size: 18px; } }

/*# sourceMappingURL=global.css.map */
