.standard_wrapper.standard_wrapper--white
    .card-reviews__wrap
        h2.card-content__heading Отзывы клиентов
        .content__divider
        .rater--disabled
        .card-reviews
            .card-reviews__form
                form(action="" method="POST")
                    .form__title Оставить отзыв
                    .form__group
                        input.form__control(type="text" name="name" placeholder="Ваше имя")
                    .form__group.form__group--rater.clearfix
                        label Оцените процедуру:
                        .rater
                    .form__group
                        textarea.form__control.form__control--autosize(rows="4" name="review" placeholder="Поделитесь впечатлениями")
                    .form__group.form__group--center
                        button.btn.button.form__btn(type="submit") Отправить

            .card-reviews__user-wrap
                .card-reviews__user
                    .card-reviews__user-heading
                        h3 Анна
                        time(datetime="2018-01-18T08:23:11+07:00") 18.01.2018
                    .card-reviews__user-body
                        .card-reviews__user-img.bg-image(data-bgimage="images/user-logo.jpg")
                        .card-reviews__user-text
                            p В теле и на душе еще долго была легкость и радость! Мастер Татьяна погрузила меня в очень глубокие состояния, при том что массаж был легким и расслабляющий. Сам салон удивительно уютный и приятный - хочется побыть подольше) Все сделано со вкусом и с душой.
                .card-reviews__user
                    .card-reviews__user-heading
                        h3 Анна
                        time(datetime="2019-01-18T08:23:11+07:00") 19.01.2018
                    .card-reviews__user-body
                        .card-reviews__user-img.bg-image(data-bgimage="images/user-logo.jpg")
                        .card-reviews__user-text
                            p Я - любитель спа отдыха. При выборе спа салона для меня важным критерием является: чистота, приватность, профессионализм, использование натуральных косметических средств. Всё это я нашла в Роял СПА. За всё время пребывания я, почти, не пересеклась с другими посетителями. Расслабляющая музыка, приятные ароматы, полумрак, свечи... Чистота, приятная обстановка. Вежливый персонал, профессиональные массажисты. Никакого дискомфорта. Отличное место для отдыха интроверта. С собой ничего не нужно брать. Халат, тапочки, полотенца выдаются. В конце процедур отдых в шунгитовой комнате, где ждёт вкусный фиточай.

