input#pp_enable_right_click(type='hidden', name='pp_enable_right_click', value='0')
input#pp_enable_dragging(type='hidden', name='pp_enable_dragging', value='0')
input#pp_image_path(type='hidden', name='pp_image_path', value='http://royalspa.su/wp-content/themes/grandspa/images/')
input#pp_homepage_url(type='hidden', name='pp_homepage_url', value='http://royalspa.su/')
input#pp_fixed_menu(type='hidden', name='pp_fixed_menu', value='1')
input#tg_smart_fixed_menu(type='hidden', name='tg_smart_fixed_menu', value='1')
input#tg_sidebar_sticky(type='hidden', name='tg_sidebar_sticky', value='1')
input#pp_topbar(type='hidden', name='pp_topbar', value='0')
input#post_client_column(type='hidden', name='post_client_column', value='4')
input#pp_back(type='hidden', name='pp_back', value='Back')
input#pp_page_title_img_blur(type='hidden', name='pp_page_title_img_blur', value='')
input#tg_portfolio_filterable_link(type='hidden', name='tg_portfolio_filterable_link', value='')
input#tg_flow_enable_reflection(type='hidden', name='tg_flow_enable_reflection', value='1')
input#tg_lightbox_skin(type='hidden', name='tg_lightbox_skin', value='metro-black')
input#tg_lightbox_thumbnails(type='hidden', name='tg_lightbox_thumbnails', value='horizontal')
input#tg_lightbox_thumbnails_display(type='hidden', name='tg_lightbox_thumbnails_display', value='1')
input#tg_lightbox_opacity(type='hidden', name='tg_lightbox_opacity', value='0.8')
input#tg_live_builder(type='hidden', name='tg_live_builder', value='0')
input#pp_footer_style(type='hidden', name='pp_footer_style', value='3')
// Begin mobile menu
a#close_mobile_menu(href='javascript:;')
.mobile_menu_wrapper
  a#mobile_menu_close.button(href='javascript:;')
    span.ti-close
  .mobile_menu_content
    .menu-main-menu-container
      ul#mobile_main_menu.mobile_main_nav
        li#menu-item-143.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-143
          a(href='/') Главная
        li#menu-item-3451.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3451
          a(href='http://royalspa.su/blog-fullwidth/') Новости
        li#menu-item-155.menu-item.menu-item-type-post_type.menu-item-object-galleries.menu-item-155
          a(href='http://royalspa.su/galleries/gallery-wise-royal-spa/') Галерея
        li#menu-item-3458.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3458
          a(href='http://royalspa.su/about-us-1/') О компании
        li#menu-item-3666.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-3666
          a(href='#') Услуги
          ul.sub-menu
            li#menu-item-3615.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3615
              a(href='http://royalspa.su/spa/') SPA
            li#menu-item-3614.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3614
              a(href='http://royalspa.su/%d1%8d%d1%81%d1%82%d0%b5%d1%82%d0%b8%d1%87%d0%b5%d1%81%d0%ba%d0%be%d0%b5-%d0%bc%d0%be%d0%b4%d0%b5%d0%bb%d0%b8%d1%80%d0%be%d0%b2%d0%b0%d0%bd%d0%b8%d0%b5-%d0%bb%d0%b8%d1%86%d0%b0-%d0%b8-%d1%82%d0%b5/') Коррекция тела, похудение
            li#menu-item-3612.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3612
              a(href='http://royalspa.su/%d0%bc%d0%b0%d1%81%d1%81%d0%b0%d0%b6%d0%b8/') Массаж СПА
            li#menu-item-3611.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3611
              a(href='http://royalspa.su/%d0%be%d0%b1%d1%83%d1%87%d0%b5%d0%bd%d0%b8%d0%b5/') Обучение
            li#menu-item-3613.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3613
              a(href='http://royalspa.su/%d0%ba%d0%be%d1%81%d0%bc%d0%b5%d1%82%d0%be%d0%bb%d0%be%d0%b3%d0%b8%d1%8f/') Косметология
        li#menu-item-3461.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3461
          a(href='http://royalspa.su/contact-1/') Контакты
        li#menu-item-3753.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3753
          a(href='http://royalspa.su/%d0%be%d1%82%d0%b7%d1%8b%d0%b2%d1%8b/') Отзывы
    // Begin side menu sidebar
    .page_content_wrapper
      .sidebar_wrapper
        .sidebar
          .content
            ul.sidebar_widget
              li#text-2.widget.widget_text
                h2.widgettitle
                  span Контакты
                .textwidget
                  p
                    span.ti-mobile(style='margin-right:10px;') +7 (812) 993-50-62
                    br
                    span.ti-location-pin(style='margin-right:10px;') г.Санкт-Петербург, ул. Невский проспект, 170
                    br
                    span.ti-alarm-clock(style='margin-right:10px;') Часы работы ежедневно без выходных с 10:00 до 23:00
    // End side menu sidebar
    .social_wrapper
      ul
        li.instagram
          a(target='_blank', title='Instagram', href='http://instagram.com/Wise_royal_spa')
            i.fa.fa-instagram
// End mobile menu
// Begin template wrapper
#wrapper
  .header_style_wrapper
    // End top bar
    .top_bar
      .standard_wrapper
        // Begin logo
        #logo_wrapper
          #logo_normal.logo_container
            .logo_align
              a#custom_logo.logo_wrapper.default(href='http://royalspa.su/')
                img(src='http://royalspa.su/wp-content/uploads/2017/11/logo2x-e1510143704437.png', alt='')
          #logo_transparent.logo_container
            .logo_align
              a#custom_logo_transparent.logo_wrapper.hidden(href='http://royalspa.su/')
                img(src='http://royalspa.su/wp-content/uploads/2017/11/logo_white-e1510143749472.png', alt='', width='85', height='85')
          // End logo
          #menu_wrapper
            #nav_wrapper
              .nav_wrapper_inner
                #menu_border_wrapper
                  .menu-main-menu-container
                    ul#main_menu.nav
                      li.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-143
                        a(href='/') Главная
                      li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3451
                        a(href='http://royalspa.su/blog-fullwidth/') Новости
                      li.menu-item.menu-item-type-post_type.menu-item-object-galleries.menu-item-155
                        a(href='http://royalspa.su/galleries/gallery-wise-royal-spa/') Галерея
                      li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3458
                        a(href='http://royalspa.su/about-us-1/') О компании
                      li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.arrow.menu-item-3666
                        a(href='#') Услуги
                        ul.sub-menu
                          li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3615
                            a(href='http://royalspa.su/spa/') SPA
                          li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3614
                            a(href='http://royalspa.su/%d1%8d%d1%81%d1%82%d0%b5%d1%82%d0%b8%d1%87%d0%b5%d1%81%d0%ba%d0%be%d0%b5-%d0%bc%d0%be%d0%b4%d0%b5%d0%bb%d0%b8%d1%80%d0%be%d0%b2%d0%b0%d0%bd%d0%b8%d0%b5-%d0%bb%d0%b8%d1%86%d0%b0-%d0%b8-%d1%82%d0%b5/') Коррекция тела, похудение
                          li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3612
                            a(href='http://royalspa.su/%d0%bc%d0%b0%d1%81%d1%81%d0%b0%d0%b6%d0%b8/') Массаж СПА
                          li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3611
                            a(href='http://royalspa.su/%d0%be%d0%b1%d1%83%d1%87%d0%b5%d0%bd%d0%b8%d0%b5/') Обучение
                          li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3613
                            a(href='http://royalspa.su/%d0%ba%d0%be%d1%81%d0%bc%d0%b5%d1%82%d0%be%d0%bb%d0%be%d0%b3%d0%b8%d1%8f/') Косметология
                      li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3461
                        a(href='http://royalspa.su/contact-1/') Контакты
                      li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3753
                        a(href='http://royalspa.su/%d0%be%d1%82%d0%b7%d1%8b%d0%b2%d1%8b/') Отзывы
                ul.header_contact
                  li +7 (812) 993-50-42
                  li info@royalspa.su
                  li Санкт-Петербург Невский проспект, 170
            // End main nav
          // Begin right corner buttons
          #logo_right_wrapper
            #logo_right_button
              //
                <a href="http://themes.themegoods.com/grandspa/demo/booking/" id="rsvp" class="button ghost">Book</a>
              // Begin side menu
              a#mobile_nav_icon(href='javascript:;')
                span.ti-menu
              // End side menu
          // End right corner buttons
script(type='text/javascript').
    jQuery(function ($) {
        var url = window.location;
        $(window).on("scroll", function () {
            if ($(window).scrollTop() > 100) {
                $('.kama_breadcrumbs').hide();
                $('.header_contact').addClass('white_fone');
            } else {
                $('.kama_breadcrumbs').show();
                $('.transparent').each(function () {
                    $('.header_contact').removeClass('white_fone');
                });
            }
        });
        if ($('.transparent').length == 0) {
            $('.header_contact').addClass('white_fone');
        }
        $('.kama_breadcrumbs span a[itemprop="item"]').each(function () {
            var bread = $(this).attr('href');
            if (bread == 'http://royalspa.su/category/news-event/') {
                $('.kama_breadcrumbs').addClass('white_fone');
                $('.header_contact').addClass('white_fone');
            } else if (bread == 'http://royalspa.su/category/products/') {
                $('.kama_breadcrumbs').addClass('white_fone');
                $('.header_contact').addClass('white_fone');
            }
        });
    });

