- var pageTitle = "Index";

doctype html
html(lang='ru' data-menu="leftalign")

    include components/head/head
    body
        .wrap
            include components/header/header
            include components/card/card
            include components/cardPromo/cardPromo
            include components/cardReviews/cardReviews

            include components/diplom/diplom
        include components/footer/footer
        include components/scripts/bottomScripts







