script(src="./js/jquery/plugins/rater/rater.min.js")
script(src="./js/jquery/plugins/textarea-autoresize/autosize.js")
script(src="./js/custom.js")

#side_menu_wrapper.overlay_background
  a#close_share(href='javascript:;')
    span.ti-close
script(type='text/javascript').
    function revslider_showDoubleJqueryError(sliderID) {
        var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
        errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
        errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
        errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
        errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
        jQuery(sliderID).show().html(errorMessage);
    }
script(type='text/javascript').
    /* <![CDATA[ */
    var wpcf7 = {
        "apiSettings": {
            "root": "http:\\/\/royalspa.su\/wp-json\/contact-form-7\/v1",
            "namespace": "contact-form-7\/v1"
        },
        "recaptcha": {"messages": {"empty": "\u041f\u043e\u0436\u0430\u043b\u0443\u0439\u0441\u0442\u0430, \u043f\u043e\u0434\u0442\u0432\u0435\u0440\u0434\u0438\u0442\u0435, \u0447\u0442\u043e \u0432\u044b \u043d\u0435 \u0440\u043e\u0431\u043e\u0442."}}
    };
    /* ]]> */
script(type='text/javascript', src='http://royalspa.su/wp-content/plugins/contact-form-7/includes/js/scripts.js')
script(type='text/javascript', src='http://royalspa.su/wp-includes/js/jquery/ui/core.min.js')
script(type='text/javascript', src='http://royalspa.su/wp-content/themes/grandspa/js/jquery.requestAnimationFrame.js')
script(type='text/javascript', src='http://royalspa.su/wp-content/themes/grandspa/js/ilightbox.packed.js')
script(type='text/javascript', src='http://royalspa.su/wp-content/themes/grandspa/js/jquery.easing.js')
script(type='text/javascript', src='http://royalspa.su/wp-content/themes/grandspa/js/waypoints.min.js')
script(type='text/javascript', src='http://royalspa.su/wp-content/themes/grandspa/js/jquery.isotope.js')
script(type='text/javascript', src='http://royalspa.su/wp-content/themes/grandspa/js/jquery.tooltipster.min.js')
script(type='text/javascript', src='http://royalspa.su/wp-content/themes/grandspa/js/jarallax.js')
script(type='text/javascript', src='http://royalspa.su/wp-content/themes/grandspa/js/jquery.sticky-kit.min.js')
script(type='text/javascript', src='http://royalspa.su/wp-content/themes/grandspa/js/jquery.stellar.min.js')
script(type='text/javascript', src='http://royalspa.su/wp-content/themes/grandspa/js/jquery.cookie.js')
script(type='text/javascript', src='http://royalspa.su/wp-content/themes/grandspa/js/custom_plugins.js')
script(type='text/javascript', src='http://royalspa.su/wp-content/themes/grandspa/js/custom.js')
script(type='text/javascript', src='http://royalspa.su/wp-includes/js/wp-embed.min.js')
script(type='text/javascript', src='http://royalspa.su/wp-content/themes/grandspa/js/custom_onepage.js')
style.
  body {
    overflow-x: hidden;
  }

