.standard_wrapper
    .card-promo__wrap
        .card-promo
            .card-promo__image.bg-image(data-bgimage="images/promo.jpg")
                .card-promo__image-label
                    span Скидка до
                    strong 20%!
                .card-promo__image-title
                    span Мы любим наших клиентов!
                    img(src="images/logo-title.png" alt="")
            .card-promo__desc
                h3.card-promo__title Мы заботимся о наших клиентах!
                p При повторных посещениях получайте #[strong.accent скидки до 20%!]
                p Но наиболее выгодным является приобретение #[strong абонемента] на 10 и более сеансов, которым может воспользоваться как один человек, так и двое.
                p Также у нас существуют пакеты программ различных уровней: #[br] #[span.accent Platinum], #[span.accent Gold] и #[span.accent Silver]
                a.btn.button(href="#") Подробнее
