.standard_wrapper.standard_wrapper--white
    .card-content__wrap
        h4.card-content__subtitle spa-Программа
        h1.card-content__title Тайские традиции
        .content__divider

        .card-content__rte.clearfix
            .card-content__banner
                .card-content__banner-wrap
                    img(src="images/banner.jpg" alt="")
                    .card-content__banner-label
                        strong -15%
                        span Скидка молодоженам
            .card-content__rte--aside
                .card-content__price
                    .card-content__price-item.card-content__price-time
                        .card-content__price-icon
                            img(src="images/clock.png" alt="")
                        span 75 мин
                    .card-content__price-item.card-content__price--single
                        .card-content__price-icon
                            img(src="images/single.png" alt="")
                        span 2 390
                        span.rouble a
                    .card-content__price-item.card-content__price--double
                        .card-content__price-icon
                            img(src="images/double.png" alt="")
                        span 3 990
                        span.rouble a
                ul
                    li предварительный теплый разогрев тела (принятие душа с ароматерапией — целебные травы и масла);

                    li омовение ног (молочная ванна для стоп и компрессы);

                    li массаж стоп;

                    li массаж теплыми травяными мешочками;

                    li завершающее молочко;

                    li чайная церемония.

                p
                    em  Во время обертывания выполняется программа по лицу:

                ul
                    li  восточный массаж лица;

                    li массаж головы и шеи;

                    li массаж кистей рук;

                    li увлажняющая маска;;

                    li завершающий массаж горячими камнями тела
            .card-content__bottom.clearfix
                p Среди суеты мегаполиса, ежедневных будничных дел, сырости и непогоды, порой так хочется немного передохнуть. Восстановить силы, сбросить напряжение и немного себя побаловать. Наверное у каждого есть свой способ, их наверняка много, мы же подскажем вам ещё один. Это невероятное место, в самом сердце Санкт-Петербурга, настоящий Дворец Красоты, где каждый может почувствовать себя истинным аристократом. В роскошном окружении дворцового интерьера, так приятно окунуться в океан неги и равновесия, который вам подарят умелые руки настоящих профессионалов Wise Royal SPA. Арсенал искушения велик. Это и гармонично сбалансированные СПА — программы для одного, для двоих и даже для небольшой компании до восьми человек. Это и косметические уходы на проверенных и тщательно отобранных премиальных брендах косметики. Это полный спектр услуг по уходу за волосами и ногтями.



