section
    .standard_wrapper.standard_wrapper--white
        .diplom-content__wrap
            h2.card-content__heading Наши дипломы
            .content__divider

            .diplom-content__list
                .diplom-content__list-item
                    img(src="images/diplom.jpg" alt="")
                .diplom-content__list-item
                    img(src="images/diplom.jpg" alt="")
                .diplom-content__list-item
                    img(src="images/diplom.jpg" alt="")
                .diplom-content__list-item
                    img(src="images/diplom.jpg" alt="")

