.clearfix
  &::before,
  &::after
    display: table
    content: ''
    clear: both

.standard_wrapper.standard_wrapper--white
  background-color: #fff

.bg-image
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.card-content__subtitle
  font-size: 14px
  line-height: 18px
  letter-spacing: 1.5px
  text-align: center
  font-weight: bold
  text-transform: uppercase
  color: #000
  margin-top: 25px

h1.card-content__title
  font-size: 44px
  line-height: 48px
  text-transform: none
  font-weight: normal
  margin-top: 35px
  margin-bottom: 10px
  text-align: center
  color: #000

.content__divider
  position: relative
  display: block
  height: 20px
  background-image: url("../images/list-item.png")
  background-position: center center
  background-repeat: no-repeat
  margin: 10px 0
  &::before
    content: ''
    display: block
    position: absolute
    width: 100px
    height: 1px
    background-color: #e1e1e1
    top: 50%
    left: 50%
    transform: translate3d(-100%, -50%, 0)
    margin-left: -17px
  &::after
    content: ''
    display: block
    position: absolute
    width: 100px
    height: 1px
    background-color: #e1e1e1
    top: 50%
    right: 50%
    transform: translate3d(100%, -50%, 0)
    margin-right: -17px

.card-content__rte
  margin-top: 25px
  ul
    list-style: none
    margin-bottom: 20px
    li
      padding-left: 30px
      position: relative
      font-size: 14px
      line-height: 16px
      margin-bottom: 14px
      color: #666666
      &::before
        display: block
        content: ''
        position: absolute
        left: 0
        top: 0
        height: 16px
        width: 16px
        background-image: url("../images/list-item.png")
        background-position: center center
        background-repeat: no-repeat

  p
    font-size: 14px
    line-height: 24px
    margin: 10px 0
    padding: 0
    color: #666666
  em
    font-size: 14px
    line-height: 24px
    color: #993300
    margin: 14px 0

.card-content__banner
  margin-bottom: 20px
  img
    max-width: 100%
    width: 100%

.card-content__banner-wrap
  position: relative
  //padding-bottom: 100%
  //background-position: center
  //background-repeat: no-repeat
  //background-size: cover
  box-sizing: border-box

.card-content__banner-label
  position: absolute
  top: 25px
  left: 0
  padding-left: 12px
  padding-right: 20px
  padding-top: 5px
  padding-bottom: 5px
  background-color: #22a340
  color: #fff
  strong
    display: inline-block
    vertical-align: middle
    width: 60px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    font-size: 20px
    line-height: 25px

  span
    display: inline-block
    vertical-align: middle
    font-size: 12px
    line-height: 25px

  &::before
    display: block
    content: ''
    position: absolute
    left: 100%
    top: 0
    border: 30px solid transparent
    border-right: 0 solid transparent
    border-left: 15px solid #22a340
    border-top: 0 solid transparent

  &::after
    display: block
    content: ''
    position: absolute
    left: 100%
    bottom: 0
    border: 30px solid transparent
    border-bottom: 0 solid transparent
    border-right: 0 solid transparent
    border-left: 15px solid #22a340

.rouble
  font-family: 'ALSRubl'

.card-content__price
  display: flex
  align-items: stretch
  margin-bottom: 20px
  background-color: #f9f9f9

.card-content__price-item
  position: relative
  padding: 15px 10px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  span
    font-size: 18px
    line-height: 1
    color: #000

.card-content__price-icon
  text-align: center
  img
    max-width: 100%

.card-content__price-item.card-content__price-time
  margin-right: auto

.card-content__price-item.card-content__price--double::before
  content: ''
  display: block
  position: absolute
  left: 0
  top: 15px
  bottom: 15px
  width: 1px
  background-color: #dddddd

@media screen and (min-width: 768px)
  .card-content__rte
    margin-top: 35px
  .card-content__price
    margin-bottom: 30px
  .card-content__price-item
    padding: 15px 20px
    span
      font-size: 30px

  .card-content__banner-label
    strong
      width: 70px
      font-size: 24px
      line-height: 25px

    span
      font-size: 16px
      line-height: 25px

@media screen and (min-width: 992px)
  .card-content__banner
    width: 50%
    float: left
    margin-bottom: 10px
    padding-right: 15px
    box-sizing: border-box

  .card-content__rte--aside
    width: 50%
    padding-left: 15px
    float: left
    box-sizing: border-box

  .card-content__price-item
    padding: 15px 20px
    span
      font-size: 30px







