.footer_bar.ppb_wrapper
  .footer_bar_wrapper
    // Yandex.Metrika informer
    a(href='https://metrika.yandex.ru/stat/?id=45805779&from=informer', target='_blank', rel='nofollow')
      img.ym-advanced-informer(src='https://informer.yandex.ru/informer/45805779/3_1_FFFFFFFF_EFEFEFFF_0_pageviews', style='width:88px; height:31px; border:0;', alt='Яндекс.Метрика', title='Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)', data-cid='45805779', data-lang='ru')
    // /Yandex.Metrika informer
    // Yandex.Metrika counter
    script(type='text/javascript').
        (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter45805779 = new Ya.Metrika({ id:45805779, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
    noscript
      div
        img(src='https://mc.yandex.ru/watch/45805779', style='position:absolute; left:-9999px;', alt='')
    // /Yandex.Metrika counter
    #copyright
      | © Copyright 2017 Разработка и поддержка:
      a(href='http://ag-group.pro') Студия разработчиков "AG group"
      a
    br.clear
    a#toTop(href='javascript:;')
      i.fa.fa-angle-up

