.diplom-content__wrap
  margin-top: 40px

.diplom-content__list
  display: flex
  flex-wrap: wrap
  margin: 20px -10px 0 -10px
  box-sizing: border-box

.diplom-content__list-item
  width: 50%
  padding: 0 10px
  box-sizing: border-box
  text-align: center
  margin-bottom: 20px
  img
    max-width: 100%

@media screen and (min-width: 768px)
  .diplom-content__list-item
    width: 25%

@media screen and (min-width: 992px)
  .diplom-content__list
    margin: 30px -20px 0 -20px

  .diplom-content__list-item
    padding: 0 20px
    margin-bottom: 40px

