h3.card-promo__title
  font-size: 24px
  line-height: 1
  margin-bottom: 20px
  text-transform: uppercase
  color: #666666

.card-promo
  display: flex
  flex-wrap: wrap
  margin: 60px 0 30px 0
  background-color: #f9f9f9

.card-promo__desc
  padding: 15px 30px
  text-align: center
  background-color: #f9f9f9
  box-sizing: border-box
  p
    font-size: 18px
    line-height: 24px
    padding: 0
    margin-bottom: 25px
    color: #666666
    span.accent
      font-size: 24px
      line-height: 24px
      font-weight: bold
      color: #993300
    strong.accent
      color: #993300
  .btn
    font-size: 18px
    line-height: 20px
    padding-top: 4px
    padding-bottom: 4px
    color: #000
    background-color: transparent
    border: 1px solid #EFA697
    font-weight: normal
    &:hover
      color: #fff
      background-color: #EFA697
      border: 1px solid #EFA697

.card-promo__image
  width: 100%
  position: relative
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  height: 300px

.card-promo__image-label
  position: absolute
  top: auto
  bottom: 15px
  left: 0
  padding-left: 12px
  padding-right: 20px
  padding-top: 5px
  padding-bottom: 5px
  background-color: #22a340
  color: #fff
  strong
    display: inline-block
    vertical-align: middle
    width: auto
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    font-size: 20px
    line-height: 25px

  span
    display: inline-block
    vertical-align: middle
    font-size: 12px
    line-height: 25px
    padding-right: 5px

  &::before
    display: block
    content: ''
    position: absolute
    left: 100%
    top: 0
    border: 30px solid transparent
    border-right: 0 solid transparent
    border-left: 15px solid #22a340
    border-top: 0 solid transparent

  &::after
    display: block
    content: ''
    position: absolute
    left: 100%
    bottom: 0
    border: 30px solid transparent
    border-bottom: 0 solid transparent
    border-right: 0 solid transparent
    border-left: 15px solid #22a340

.card-promo__image-title
  position: absolute
  top: 20px
  right: 15px
  width: 110px
  text-align: center
  font-size: 20px
  line-height: 24px
  font-weight: bold
  color: #000
  span
    margin-bottom: 5px

@media screen and (min-width: 768px)
  .card-promo__desc
    width: calc(100% - 320px)

  .card-promo__image
    height: auto
    width: 320px

  .card-promo__image-label
    strong
      width: 70px
      font-size: 24px
      line-height: 25px

    span
      font-size: 16px
      line-height: 25px