head
    // RedConnect
    meta(charset="UTF-8")
    script#rhlpscrtg(type='text/javascript', charset='utf-8', async='async', src='https://web.redhelper.ru/service/main.js?c=wise7771')
    div(style='display: none')
        a.rc-copyright(href='http://redconnect.ru') Обратный звонок RedConnect
    // /RedConnect
    link(rel='profile', href='http://gmpg.org/xfn/11')
    link(rel='pingback', href='http://royalspa.su/xmlrpc.php')
    title СПА салон в Спб Wise Royal Spa - массаж, косметология, коррекция фигуры |
    // All in One SEO Pack 2.4.5.1 by Michael Torbert of Semper Fi Web Design[504,588]
    meta(name='description', content='СПА салон Wise Royal Spa - массаж, косметология, коррекция фигуры. Работаем ежедневно без выходных с 10 до 23 ч.')
    link(rel='canonical', href='http://royalspa.su/')
    // /all in one seo pack
    link(rel='dns-prefetch', href='//fonts.googleapis.com')
    link(rel='dns-prefetch', href='//s.w.org')
    link(rel='alternate', type='application/rss+xml', title='СПА салон в Спб Wise Royal Spa - массаж, косметология, коррекция фигуры » Лента', href='http://royalspa.su/feed/')
    link(rel='alternate', type='application/rss+xml', title='СПА салон в Спб Wise Royal Spa - массаж, косметология, коррекция фигуры » Лента комментариев', href='http://royalspa.su/comments/feed/')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='format-detection', content='telephone=no')
    script(type='text/javascript').
        window._wpemojiSettings = {"baseUrl":"https:\\/\/s.w.org\/images\/core\/emoji\/2.4\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.4\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/royalspa.su\/wp-includes\/js\/wp-emoji-release.min.js"}};
        !function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55357,56692,8205,9792,65039],[55357,56692,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
    style(type='text/css').
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    link#gtranslate-style-css(rel='stylesheet', href='http://royalspa.su/wp-content/plugins/gtranslate/gtranslate-style24.css', type='text/css', media='all')
    link#contact-form-7-css(rel='stylesheet', href='http://royalspa.su/wp-content/plugins/contact-form-7/includes/css/styles.css', type='text/css', media='all')
    link#rs-plugin-settings-css(rel='stylesheet', href='http://royalspa.su/wp-content/plugins/revslider/public/assets/css/settings.css', type='text/css', media='all')
    style#rs-plugin-settings-inline-css(type='text/css').
        #rs-demo-id {}
    link#grandspa-reset-css-css(rel='stylesheet', href='http://royalspa.su/wp-content/themes/grandspa/css/reset.css', type='text/css', media='all')
    link#grandspa-wordpress-css-css(rel='stylesheet', href='http://royalspa.su/wp-content/themes/grandspa/css/wordpress.css', type='text/css', media='all')
    link#grandspa-animation-css-css(rel='stylesheet', href='http://royalspa.su/wp-content/themes/grandspa/css/animation.css', type='text/css', media='all')
    link#ilightbox-css(rel='stylesheet', href='http://royalspa.su/wp-content/themes/grandspa/css/ilightbox/ilightbox.css', type='text/css', media='all')
    link#grandspa-jqueryui-css(rel='stylesheet', href='http://royalspa.su/wp-content/themes/grandspa/css/jqueryui/custom.css', type='text/css', media='all')
    link#mediaelement-css(rel='stylesheet', href='http://royalspa.su/wp-includes/js/mediaelement/mediaelementplayer-legacy.min.css', type='text/css', media='all')
    link#flexslider-css(rel='stylesheet', href='http://royalspa.su/wp-content/themes/grandspa/js/flexslider/flexslider.css', type='text/css', media='all')
    link#tooltipster-css(rel='stylesheet', href='http://royalspa.su/wp-content/themes/grandspa/css/tooltipster.css', type='text/css', media='all')
    link#odometer-theme-css(rel='stylesheet', href='http://royalspa.su/wp-content/themes/grandspa/css/odometer-theme-minimal.css', type='text/css', media='all')
    link#grandspa-screen-css(rel='stylesheet', href='http://royalspa.su/wp-content/themes/grandspa/css/screen.css', type='text/css', media='all')
    link#grandspa-leftalignmenu-css(rel='stylesheet', href='http://royalspa.su/wp-content/themes/grandspa/css/menus/leftalignmenu.css', type='text/css', media='all')
    link#fontawesome-css(rel='stylesheet', href='http://royalspa.su/wp-content/themes/grandspa/css/font-awesome.min.css', type='text/css', media='all')
    link#themify-icons-css(rel='stylesheet', href='http://royalspa.su/wp-content/themes/grandspa/css/themify-icons.css', type='text/css', media='all')
    link#grandspa-script-custom-css-css(rel='stylesheet', href='http://royalspa.su/wp-admin/admin-ajax.php?action=grandspa_custom_css', type='text/css', media='all')
    link#kirki-styles-global-css(rel='stylesheet', href='http://royalspa.su/wp-content/themes/grandspa/modules/kirki/assets/css/kirki-styles.css', type='text/css', media='all')
    link#grandspa-script-responsive-css-css(rel='stylesheet', href='http://royalspa.su/wp-content/themes/grandspa/css/grid.css', type='text/css', media='all')
    link#kirki_google_fonts-css(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Rubik%3A300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C700%2C700italic%2C900%2C900italic&subset', type='text/css', media='all')
    script(type='text/javascript', src='http://royalspa.su/wp-includes/js/jquery/jquery.js')
    script(type='text/javascript', src='http://royalspa.su/wp-includes/js/jquery/jquery-migrate.min.js')
    script(type='text/javascript', src='http://royalspa.su/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min.js')
    script(type='text/javascript', src='http://royalspa.su/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min.js')
    link(rel='https://api.w.org/', href='http://royalspa.su/wp-json/')
    link(rel='EditURI', type='application/rsd+xml', title='RSD', href='http://royalspa.su/xmlrpc.php?rsd')
    link(rel='wlwmanifest', type='application/wlwmanifest+xml', href='http://royalspa.su/wp-includes/wlwmanifest.xml')
    meta(name='generator', content='WordPress 4.9.3')
    link(rel='shortlink', href='http://royalspa.su/')
    link(rel='alternate', type='application/json+oembed', href='http://royalspa.su/wp-json/oembed/1.0/embed?url=http%3A%2F%2Froyalspa.su%2F')
    link(rel='alternate', type='text/xml+oembed', href='http://royalspa.su/wp-json/oembed/1.0/embed?url=http%3A%2F%2Froyalspa.su%2F&format=xml')
    style(type='text/css').
        .recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}
    meta(name='generator', content='Powered by Slider Revolution 5.4.5.1 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface.')
    link(rel='icon', href='http://royalspa.su/wp-content/uploads/2018/02/cropped-favicon-32x32.png', sizes='32x32')
    link(rel='icon', href='http://royalspa.su/wp-content/uploads/2018/02/cropped-favicon-192x192.png', sizes='192x192')
    link(rel='apple-touch-icon-precomposed', href='http://royalspa.su/wp-content/uploads/2018/02/cropped-favicon-180x180.png')
    meta(name='msapplication-TileImage', content='http://royalspa.su/wp-content/uploads/2018/02/cropped-favicon-270x270.png')
    script(type='text/javascript').
        function setREVStartSize(e){
            try{ var i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
                if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})
            }catch(d){console.log("Failure at Presize of Slider:"+d)}
        };

    link(rel='stylesheet', href='css/global.css', type='text/css', media='all')

