.form__title
  font-size: 24px
  line-height: 28px
  margin-bottom: 20px
  color: #666666
  text-align: center

.form__group
  margin-bottom: 25px

.form__group.form__group--center
  display: flex
  justify-content: center
  flex-wrap: wrap

.form__control
  width: 100%

.form__group.form__group--rater
  label
    padding-left: 10px
    width: auto
    float: left
    font-size: 14px
    line-height: 35px
    font-style: italic
    color: #666666
  .rater
    float: right

textarea.form__control
  resize: vertical

.form__btn
  width: 100%
  max-width: 280px
  margin: 0 auto

@media screen and (min-width: 480px)
  .form__group.form__group--rater label
    font-size: 18px


