
.rater,
.rater--disabled
  font-size: 18px
  color: #ecde01

.rater
  cursor: pointer

.rater--disabled
  margin: 0 auto

.card-reviews__wrap
  padding-top: 30px

.card-reviews__user-wrap
  padding-top: 20px

.card-reviews__user
  border: 1px solid #eeeeee
  margin-bottom: 20px
  *
    box-sizing: border-box

.card-reviews__user-img
  height: 150px
  width: 150px
  margin-bottom: 10px
  background-repeat: no-repeat
  background-size: cover
  background-position: center

.card-reviews__user-body
  display: flex
  justify-content: center
  flex-wrap: wrap
  padding: 15px 10px

.card-reviews__user-text
  width: 100%
  box-sizing: border-box
  p
    font-size: 14px
    line-height: 24px
    color: #555555
    padding: 0
    margin-bottom: 14px

.card-reviews__user-heading
  display: flex
  align-items: center
  justify-content: space-between
  padding: 10px
  background-color: #f9f9f9
  h3
    font-size: 18px
    line-height: 24px
    max-width: 60%
    font-weight: bold
  time
    max-width: 40%
    font-size: 14px
    line-height: 24px
    color: #555555

@media screen and (min-width: 480px)
  .card-reviews__user-img
    height: 100px
    width: 100px
    margin-bottom: 0

  .card-reviews__user-body
    display: flex
    justify-content: flex-start
    flex-wrap: nowrap

  .card-reviews__user-text
    width: calc(100% - 100px)
    padding-left: 5px

  .rater,
  .rater--disabled
    font-size: 18px

@media screen and (min-width: 992px)
  .card-reviews
    display: flex
    align-items: flex-start
  .card-reviews__user-wrap
    padding-top: 0
    width: calc(100% - 475px)

  .card-reviews__form
    width: 455px
    padding: 20px
    box-sizing: border-box
    background-color: #f9f9f9
    margin-left: 20px
    order: 1

  .card-reviews__user-img
    height: 150px
    width: 150px

  .card-reviews__user-text
    width: calc(100% - 150px)
