@font-face
  font-family: 'ALSRubl'
  src: url('../fonts/ALSRubl.eot')
  src: url('../fonts/ALSRubl.woff') format('woff'),
  url('../fonts/ALSRubl.ttf') format('truetype'),
  url('../fonts/ALSRubl.eot?#iefix') format('embedded-opentype')
  font-weight: normal
  font-style: normal